<a href="https://colab.research.google.com/github/ShaikMohammad786/Machine-Learning-SEMV-Labs/blob/main/LAB1_AP23110011178.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üßë‚Äçüíª NumPy Complete Guided Project
**Instructor / Student Colab Notebook** ‚Äì covers *all* key concepts from `Numpy‚Äë1` to `Numpy‚Äë5`.

*Generated: 08¬†Aug¬†2025*


**Table of Contents**

1. [Setup](#setup)  
2. [Array Creation & Dtypes](#creation)  
3. [Array Attributes & Inspection](#attributes)  
4. [Indexing, Slicing, Fancy Indexing](#indexing)  
5. [Reshaping, Transpose & Copies vs‚ÄØViews](#reshape)  
6. [Joining, Splitting, Set & Sorting Ops](#join)  
7. [Arithmetic Ops, Universal Functions](#arithmetic)  
8. [Broadcasting (Rules¬†+ Examples)](#broadcast)  
9. [Statistics & Aggregations](#stats)  
10. [Random Numbers & Reproducibility](#random)  
11. [Structured¬†/ Recarrays](#structured)  
12. [Linear Algebra Essentials](#linalg)  
13. [File¬†I/O (`npy`, `npz`, `txt`)](#io)  
14. [Datetime64 & Timedelta64](#datetime)  
15. [Masked Arrays & NaNs](#mask)  
16. [Mini‚ÄëProject¬†‚Äî Fitness Data Analysis](#project)  
17. [Conclusion & Next Steps](#conclusion)

## <a name='setup'></a>1Ô∏è‚É£ Setup

In [2]:
import numpy as np, math, os, pathlib, types, textwrap, random
print('NumPy version:', np.__version__)

NumPy version: 2.0.2

## <a name='creation'></a>2Ô∏è‚É£ Array Creation & Dtypes

Key functions: `np.array`, `np.arange`, `np.linspace`, `zeros`, `ones`, `full`, `eye`, `identity`, `diag`, `empty`

In [ ]:
# EXAMPLE
arr1 = np.array([1, 2, 3], dtype=np.int32)
arr2 = np.linspace(0, 1, 6)
arr3 = np.full((2,3), 7.5)
print(arr1, arr2, arr3, sep="\n")
print("dtypes:", arr1.dtype, arr2.dtype)

[1 2 3]
[0.  0.2 0.4 0.6 0.8 1. ]
[[7.5 7.5 7.5]
 [7.5 7.5 7.5]]
dtypes: int32 float64

In [ ]:
# üñäÔ∏è¬†TODO: create a 10√ó10 chessboard pattern using zeros & ones
chess = np.zeros((10,10), dtype = np.int32)
chess[1::2,::2]=1
chess[::2,1::2]=1

print(chess)

[[0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0]]

## <a name='attributes'></a>3Ô∏è‚É£ Array Attributes & Inspection

`shape`, `ndim`, `size`, `dtype`, `itemsize`, `nbytes`

In [ ]:
M = np.arange(12).reshape(3,4)
print('shape', M.shape, 'ndim', M.ndim, 'size', M.size, 'itemsize', M.itemsize, 'total bytes', M.nbytes)

shape (3, 4) ndim 2 size 12 itemsize 8 total bytes 96

In [ ]:
# üñäÔ∏è TODO: check memory footprint of a 1000√ó1000 float64 array
arr = np.ones((1000,1000),dtype = np.float64)
print(arr.nbytes)

8000000

## <a name='indexing'></a>4Ô∏è‚É£ Indexing, Slicing & Fancy Indexing

In [ ]:
a = np.arange(1,26).reshape(5,5)
print(a[:, 0])     # first column
print(a[::2, ::2]) # every 2nd row/col
mask = (a % 3 == 0)
print('multiples of 3:', a[mask])

In [ ]:
# üñäÔ∏è TODO: use fancy indexing to swap first and last rows of `a`
a= np.arange(1,26).reshape(5,5)
a[[0, -1], :] = a[[-1, 0], :]

print(a)

## <a name='reshape'></a>5Ô∏è‚É£ Reshaping, Transpose & Copies vs‚ÄØViews

In [ ]:
b = np.arange(8)
B = b.reshape(2,4)
B[0,0] = 99
print('b is modified:', b)
C = b.reshape(2,4).copy()
C[0,0] = -1
print('b unchanged with copy:', b)

b is modified: [99  1  2  3  4  5  6  7]
b unchanged with copy: [99  1  2  3  4  5  6  7]

In [ ]:
# üñäÔ∏è TODO: Flatten a 3‚ÄëD array into 1‚ÄëD using both `ravel` and `flatten`; observe copy vs view.

arr3d = np.arange(1).reshape(1,1,1)
ravel_arr3d = arr3d.ravel()
flatten_arr3d = arr3d.flatten()
print('original arr',arr3d)
print("ravel arr3d before modification",ravel_arr3d)
print("flatten arr3d before modification",flatten_arr3d)

flatten_arr3d[0] = 5
print("flatten arr3d after modification",flatten_arr3d)
print('original arr',arr3d)  #flatten() makes copy and doesnt change the original array

ravel_arr3d[0] = 5
print("ravel arr3d after modification",ravel_arr3d)
print('original arr',arr3d) #ravel() makes view of orginal arr and changes will effect the orginal array

original arr [[[0]]]
ravel arr3d before modification [0]
flatten arr3d before modification [0]
flatten arr3d after modification [5]
original arr [[[0]]]
ravel arr3d after modification [5]
original arr [[[5]]]

## <a name='join'></a>6Ô∏è‚É£ Joining, Splitting, Set & Sorting Ops

In [ ]:
x = np.array([1,3,5]); y = np.array([2,4,6])
xy = np.concatenate([x,y])
print(xy)
print('union', np.union1d(x,y))
print('intersect', np.intersect1d(xy,[1,2,10]))
print('sorted descending', np.sort(xy)[::-1])

[1 3 5 2 4 6]
union [1 2 3 4 5 6]
intersect [1 2]
sorted descending [6 5 4 3 2 1]

In [ ]:
# üñäÔ∏è TODO: split `xy` back into two equal halves using `np.array_split`
x = np.array([1,3,5]); y = np.array([2,4,6])
xy = np.concatenate([x,y])
print(xy)
print(np.array_split(xy,2))

[1 3 5 2 4 6]
[array([1, 3, 5]), array([2, 4, 6])]

## <a name='arithmetic'></a>7Ô∏è‚É£ Arithmetic Ops & Universal Functions

In [ ]:
v = np.arange(5)
print('exp', np.exp(v))
print('sin', np.sin(v))
print('vectorised addition', v + 10)

exp [ 1.          2.71828183  7.3890561  20.08553692 54.59815003]
sin [ 0.          0.84147098  0.90929743  0.14112001 -0.7568025 ]
vectorised addition [10 11 12 13 14]

In [ ]:
# üñäÔ∏è TODO: given degrees [0,30,45,60,90], compute radians and sin values.
a = np.array([0,30,45,60,90])
rad_a = np.deg2rad(a)
print(rad_a)
print(np.sin(rad_a))

[0.         0.52359878 0.78539816 1.04719755 1.57079633]
[0.         0.5        0.70710678 0.8660254  1.        ]

## <a name='broadcast'></a>8Ô∏è‚É£ Broadcasting Rules

Rules: compare dimensions from right ‚Üí left; stretch size 1 dims; mismatch error.

In [ ]:
row = np.arange(5)
col = np.arange(3).reshape(3,1)
matrix = row + col  # broadcast to 3√ó5
print(matrix)

[[0 1 2 3 4]
 [1 2 3 4 5]
 [2 3 4 5 6]]

In [ ]:
# üñäÔ∏è TODO: use broadcasting to create a 10√ó10 multiplication table.
col = np.arange(1,11).reshape(10,1)
row = np.arange(1,11).reshape(1,10)

print(row*col)

[[  1   2   3   4   5   6   7   8   9  10]
 [  2   4   6   8  10  12  14  16  18  20]
 [  3   6   9  12  15  18  21  24  27  30]
 [  4   8  12  16  20  24  28  32  36  40]
 [  5  10  15  20  25  30  35  40  45  50]
 [  6  12  18  24  30  36  42  48  54  60]
 [  7  14  21  28  35  42  49  56  63  70]
 [  8  16  24  32  40  48  56  64  72  80]
 [  9  18  27  36  45  54  63  72  81  90]
 [ 10  20  30  40  50  60  70  80  90 100]]

## <a name='stats'></a>9Ô∏è‚É£ Statistics & Aggregations

In [3]:
data = np.random.default_rng(0).integers(1, 100, size=(5,4))
print('data\n', data)
print('row sums', data.sum(axis=1))
print('col means', data.mean(axis=0))

data
 [[85 64 51 27]
 [31  5  8  2]
 [18 81 65 91]
 [50 61 97 73]
 [63 54 56 93]]
row sums [227  46 255 281 266]
col means [49.4 53.  55.4 57.2]

In [4]:
# üñäÔ∏è TODO: compute `np.percentile` (25th, 50th, 75th) of flattened `data`.
dt = np.random.default_rng(0).integers(1, 100, size=(5,4))
data = dt.flatten()
print(np.percentile(data,25))
print(np.percentile(data,50))
print(np.percentile(data,75))

30.0
58.5
75.0

## <a name='random'></a>üîü Random Numbers & Reproducibility

In [5]:
rng = np.random.default_rng(42)
rand_floats = rng.random(5)
rand_ints = rng.integers(low=10, high=50, size=5)
print(rand_floats, rand_ints)
rng2 = np.random.default_rng(42)
assert np.allclose(rand_floats, rng2.random(5))

[0.77395605 0.43887844 0.85859792 0.69736803 0.09417735] [31 49 39 40 38]

In [8]:
# üñäÔ∏è TODO: simulate rolling a fair six‚Äësided die 100 times; estimate proportion of 6s.
rolls = np.random.default_rng(0).integers(1,7, size = 100)
print(rolls)
print(np.mean(rolls == 6))

[6 4 4 2 2 1 1 1 2 5 4 6 4 4 6 5 4 4 4 6 2 5 5 1 3 6 4 1 5 5 6 2 1 6 1 4 1
 2 3 3 3 1 1 1 1 5 4 4 2 4 5 3 3 6 5 6 3 5 6 4 6 5 5 3 6 1 4 5 6 4 3 2 3 3
 5 6 1 6 4 3 5 4 2 2 5 4 4 3 5 3 2 6 2 2 5 4 1 1 3 5]
0.16

## <a name='structured'></a>1Ô∏è‚É£1Ô∏è‚É£ Structured / Record Arrays

In [9]:
people = np.array([('Alice', 25, 55.0), ('Bob', 30, 85.5)],
                   dtype=[('name','U10'), ('age','i4'), ('weight','f4')])
print(people['name'], people['age'].mean())

['Alice' 'Bob'] 27.5

In [10]:
# üñäÔ∏è TODO: add a new field 'height' to the structured array using `np.lib.recfunctions.append_fields` (hint: pip install?).
from numpy.lib import recfunctions as rfn

people = np.array([('Alice', 25, 55.0), ('Bob', 30, 85.5)],
                   dtype=[('name','U10'), ('age','i4'), ('weight','f4')])

people = rfn.append_fields(people, 'height', [160, 175])
print(people)

[('Alice', 25, 55.0, 160) ('Bob', 30, 85.5, 175)]

## <a name='linalg'></a>1Ô∏è‚É£2Ô∏è‚É£ Linear Algebra Essentials

In [11]:
A = np.random.random((3,3))
b = np.random.random(3)
x = np.linalg.solve(A, b)
print('A¬∑x ‚âà b?', np.allclose(A.dot(x), b))

A¬∑x ‚âà b? True

In [12]:
# üñäÔ∏è TODO: compute eigenvalues of `A` using `np.linalg.eig`.
A = np.random.random((3,3))
eigenvalues, eigenvectors = np.linalg.eig(A)
print('eigenvalues:', eigenvalues)
print('eigenvectors:', eigenvectors)

eigenvalues: [2.26708707+0.j       0.16872538+0.135315j 0.16872538-0.135315j]
eigenvectors: [[ 0.50843766+0.j          0.64127072-0.21020049j  0.64127072+0.21020049j]
 [ 0.66135055+0.j          0.02336297+0.23456788j  0.02336297-0.23456788j]
 [ 0.55145861+0.j         -0.69929943+0.j         -0.69929943-0.j        ]]

## <a name='io'></a>1Ô∏è‚É£3Ô∏è‚É£ File‚ÄØI/O (`npy`, `npz`, `txt`)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
np.save('array.npy', A)
loaded = np.load('array.npy')
print('loaded equals A?', np.allclose(loaded, A))
np.savez('multi_arrays.npz', A=A, b=b)

In [13]:
# üñäÔ∏è TODO: Use `np.savetxt` to write `data` (from stats section) to CSV then reload with `np.loadtxt`.
data = np.array([
    [86, 15, 75, 88],
    [24, 46, 56, 22],
    [13, 43, 41,  6],
    [ 2, 99,  6, 87],
    [61, 94,  2, 92]
])

# 1Ô∏è‚É£ Save to CSV with integer formatting
np.savetxt('data.csv', data, delimiter=',', fmt='%d')

# 2Ô∏è‚É£ Load back from CSV
loaded = np.loadtxt('data.csv', delimiter=',', dtype=int)

print("Original data:\n", data)
print("\nReloaded data:\n", loaded)

Original data:
 [[86 15 75 88]
 [24 46 56 22]
 [13 43 41  6]
 [ 2 99  6 87]
 [61 94  2 92]]

Reloaded data:
 [[86 15 75 88]
 [24 46 56 22]
 [13 43 41  6]
 [ 2 99  6 87]
 [61 94  2 92]]

## <a name='datetime'></a>1Ô∏è‚É£4Ô∏è‚É£ Datetime64 & Timedelta64

In [14]:
dates = np.arange('2023-01', '2023-04', dtype='datetime64[D]')
delta = dates[1:] - dates[:-1]
print(dates[:5], delta[0])

['2023-01-01' '2023-01-02' '2023-01-03' '2023-01-04' '2023-01-05'] 1 days

In [15]:
# üñäÔ∏è TODO: find how many Mondays appear in `dates` array.
dates = np.arange('2023-01', '2023-04', dtype='datetime64[D]')

# Convert dates to day-of-week (Monday=0, Sunday=6)
weekdays = dates.astype('datetime64[D]').view('int64') % 7

# Count how many Mondays (weekday 0)
mondays_count = np.sum(weekdays == 0)

print("Total Mondays:", mondays_count)

Total Mondays: 13

## <a name='mask'></a>1Ô∏è‚É£5Ô∏è‚É£ Masked Arrays & NaNs

In [16]:
arr = np.array([1, 2, np.nan, 4, np.nan])
masked = np.ma.masked_invalid(arr)
print(masked.mean())

2.3333333333333335

In [18]:
# üñäÔ∏è TODO: replace NaNs with column means in a 2‚ÄëD array containing NaNs.
arr = np.array([
    [1,   2,  np.nan],
    [4,  np.nan,  6],
    [7,   8,  9]
], dtype=float)


col_means = np.nanmean(arr, axis=0)

# 2Ô∏è‚É£ Find NaN positions
nan_mask = np.isnan(arr)

# 3Ô∏è‚É£ Replace NaNs with column means
arr[nan_mask] = np.take(col_means, np.where(nan_mask)[1])

print("\nArray after replacing NaNs with column means:\n", arr)

Array after replacing NaNs with column means:
 [[1.  2.  7.5]
 [4.  5.  6. ]
 [7.  8.  9. ]]

## <a name='project'></a>1Ô∏è‚É£6Ô∏è‚É£ Mini‚ÄëProject: Fitness Data Analysis

Load `fitness.txt` (tab‚Äëseparated) then follow prompts.

In [31]:
fitness = np.genfromtxt('fitness.txt', delimiter='\t', dtype=None, encoding=None, names=True)
print('columns:', fitness.dtype.names, 'rows:', len(fitness))

columns: ('date__step_count_____mood__calories_burned_________hours_of_sleep__________bool_of_active', 'f0', 'f1', 'f2', 'f3', 'f4', 'f5', 'f6') rows: 77

In [41]:
# üñäÔ∏è TODO: Monthly step count, sleep vs mood correlation, weekly summary, etc.

with open('/content/fitness.txt', 'r', encoding='utf-8') as f:
    lines = f.readlines()


rows = [line.strip().split() for line in lines[2:] if line.strip()]


dates_str = [r[0] for r in rows]  # 'DD-MM-YYYY'
step_count = np.array([r[1] for r in rows], dtype=int)
mood = np.array([r[2] for r in rows], dtype=float)
sleep = np.array([r[4] for r in rows], dtype=float)

dates_iso = [d[6:] + '-' + d[3:5] + '-' + d[:2] for d in dates_str]
dates = np.array(dates_iso, dtype='datetime64[D]')

print("Monthly step counts:")
months = dates.astype('datetime64[M]')
for m in np.unique(months):
    mask = (months == m)
    print(m, step_count[mask].sum())

correlation = np.corrcoef(sleep, mood)[0, 1]
print("\nSleep vs Mood correlation:", correlation)

print("\nWeekly summary:")
weeks = dates.astype('datetime64[W]')
for w in np.unique(weeks):
    mask = (weeks == w)
    print(w,
          "Steps:", step_count[mask].sum(),
          "Avg Mood:", round(mood[mask].mean(), 1),
          "Avg Sleep:", round(sleep[mask].mean(), 1))

Monthly step counts:
2017-10 79051
2017-11 61148
2017-12 61743
2018-01 10163

Sleep vs Mood correlation: 0.22785142066304537

Weekly summary:
2017-10-05 Steps: 28451 Avg Mood: 133.3 Avg Sleep: 5.5
2017-10-12 Steps: 19456 Avg Mood: 128.6 Avg Sleep: 6.1
2017-10-19 Steps: 19524 Avg Mood: 142.9 Avg Sleep: 5.7
2017-10-26 Steps: 16055 Avg Mood: 242.9 Avg Sleep: 6.1
2017-11-02 Steps: 14868 Avg Mood: 300.0 Avg Sleep: 4.4
2017-11-16 Steps: 16239 Avg Mood: 283.3 Avg Sleep: 5.5
2017-11-23 Steps: 21998 Avg Mood: 257.1 Avg Sleep: 6.1
2017-11-30 Steps: 20393 Avg Mood: 300.0 Avg Sleep: 7.0
2017-12-07 Steps: 22494 Avg Mood: 157.1 Avg Sleep: 4.1
2017-12-14 Steps: 22428 Avg Mood: 185.7 Avg Sleep: 4.4
2017-12-28 Steps: 4381 Avg Mood: 150.0 Avg Sleep: 2.8
2018-01-04 Steps: 5818 Avg Mood: 200.0 Avg Sleep: 4.7

## <a name='conclusion'></a>1Ô∏è‚É£7Ô∏è‚É£ Conclusion & Further Practice
Congrats on covering **all core NumPy topics** from your five lecture notebooks!

*Keep experimenting, read the official docs, and try converting your NumPy pipelines into Pandas or JAX for more fun.*